<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mustafa Erdoğan - B221210308</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span class="text-warning">MUSTAFA</span>ERDOĞAN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Hakkında</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sehrim.html">Şehrim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mirasimiz.html">Mirasımız</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ilgialanlarim.html">İlgi Alanlarım</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ozgecmis.html">Özgeçmiş</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="iletisim.html">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="contact" class="contact section-padding">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>İletişim</h2>
                        <p>İletişim'e Geçin!</p>
                    </div>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-12 p-0 pt-4 pb-4">
                    <form action="#" class="bg-light p-4 m-auto" @submit.prevent="formuGonder">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input v-model="ad" id="form-ad" class="form-control" placeholder="İsim Soyisim"
                                        required type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <select v-model="soru" id="form-soru" class="form-control" required>
                                        <option value="" disabled selected hidden>Memleketinizi seçebilirsiniz.</option>
                                        <option value="İstanbul">İstanbul</option>
                                        <option value="İzmir">İzmir</option>
                                        <option value="Eskişehir">Eskişehir</option>
                                        <option value="Ankara">Ankara</option>
                                        <option value="Edirne">Edirne</option>
                                        <option value="Balıkesir">Balıkesir</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <input v-model="mail" id="form-mail" class="form-control" placeholder="Mail"
                                        required type="email">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="mb-3">
                                    <textarea v-model="mesaj" id="form-mesaj" class="form-control"
                                        placeholder="Mesajınızı yazabilirsiniz." required rows="3"></textarea>
                                </div>
                            </div>

                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        <button class="btn btn-warning" type="button"
                                            @click="temizleForm">Temizle</button>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-warning" type="submit">Gönder</button>
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn btn-warning" href="kayit.html">Veriler</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <footer class="bg-dark p-2 text-center">
        <div class="container">
            <p class="text-white">Mustafa ERDOĞAN - B221210308</p>
        </div>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/iletisimkontrol.js"></script>


</body>

</html>